cpu = 1
gRPCPort = 50051
testnet = true
internal = false
# Set the certificate path if using an internal connection (internal = true)
certFile = "" (e.g., "/root/certs/tls.crt") 
shutdownPeriodSeconds = 30
useHotWallet = true
disableWebhook = false

[dynamodb]
  region =  "ap-northeast-1"

[s3]
  region =  "ap-northeast-1"
  bucket = "exmample-bucket"

[awskms1]
  region =  "ap-northeast-1"
  keyID = "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"

[awskms2]
  region =  "ap-northeast-1"
  keyID = "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"

[webhook]
  baseUrl = "http://localhost:8080"
